.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.nav-bar {
	padding: 0 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

.nav-button {
	padding: 1rem 2rem;
	border: 2px solid transparent;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 0.2px;
	background-color: transparent;
	transition: background-color 0.3s, color 0.3s;
	font-family: 'Blinker', sans-serif;
}

.nav-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: var(--color-pure-black);
}

.title {
	font-size: 3.2rem;
}

.nav-home {
	text-align-last: left;
}

.nav-bar h2 {
	text-transform: uppercase;
	margin-top: 2rem;
}
